.material-icons.md-32 { font-size: 32px; }
.material-icons.md-12 { font-size: 10px; }

.cocktail-details{
    padding: 3rem 0;
}

.back-btn{
    margin-left: 20px;
    margin-bottom: 2.6rem;
    transition: var(--transition);
}

.back-btn:hover{
    color: var(--orange);
}

.cocktail-details-content {
    gap: 1rem;
}

.cocktail-details-img{
    max-width: 300px;
}

.cocktail-details-img img{
   margin: 0 auto;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.cocktail-details-item{
   margin-bottom: 1.4rem;
}

.fav-btn {
    background-color: var(--orange);
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    font-size: 14px;
    transition: var(--transition);
}

.fav-btn:hover{
    background-color: var(--green);
}

 