.cocktail-list {
    padding: 3rem 0;
    background-color: var(--grey);
}

.cocktail-content {
    gap: 3rem;
}

.cocktail-item {
    padding: 3rem 2rem;
    border-radius: 24px;
    background-color: var(--white);
    box-shadow: rgba(0,0,0,0.5) 0px 5px 10px 0px;
}

.cocktail-item-img {
    max-width: 200px;
    margin-right: auto;
    margin-left: auto;
}

.cocktail-item-info {
    margin-top: 2rem;
}

.cocktail-item-info-item-name {
    line-height: 1.4;
    margin-bottom: 0.8rem;
}

.cocktail-item-info-item-glass {
    line-height: 1.4;
    margin-bottom: 0.8rem;
}


.cocktail-item-info-item-info {
    line-height: 1.4;
    margin-bottom: 0.8rem;
}

.cocktail-item-btn {
    background-color: var(--orange);
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    font-size: 16px;
}

.cocktail-item-btn:hover {
    background-color: var(--green);
}

@media screen and (min-width:600px){
    .cocktail-content{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (min-width:900px){
    .cocktail-content{
        grid-template-columns: repeat(3,1fr);
    }
    .cocktail-item-img img{
        max-width: 150px;
    }
}

@media screen and (min-width:1100px){
    .cocktail-content{
        grid-template-columns: repeat(5,1fr);
    }
    .cocktail-item-img img{
        max-width: 120px;
    }
}



 