.navbar{
    padding: 1.8rem 0;
    box-shadow: rgba(0,0,0,0.1) 0px 10px 15px -3px, rgba(0,0,0,0.05)  0px 4px 6px -2px ;
}

.navbar-brand span{
    margin-left: 0.1rem;
}

.brand{
    width: 100%;
}

.navbar-content{
    display: flex;
    width: 100%;
}

.navbar-fav-btn{
    margin-right: 2rem;
}

.nav-item{
    margin-bottom: 1.4rem;
}

.material-icons.md { 
    font-size: 28px; 
}
 


